.LikeButton {
    display: flex;
    align-items: center;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif
}

.LikeButton p {
    font-size: 20px;
    color: blue;
    margin-right: 10px;
    width: 120px;
}

.LikeButton button {
    height: 20px;
}