.LikeButton {
    align-items: center;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
    
}

.LikeButton p {
    font-size: 20px;
    color: blue;
    margin-right: 10px;
    text-align: center;
}

.LikeButton button {
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    padding: 0;

}